/*Agregar estilo al body*/
body {
  background-color: gainsboro;
  color: rgb(65, 219, 147);
}

p {
  color: black;
}


/*Selectores de Clase. Inician con un punto (.)*/
.lista-de-gatos {
  color: rgb(14, 18, 14);
}

/*Selectores CSS. Selectores de Tipo. Tamaño de Fuente*/
h2 {
  font-size: 30px;
  /*Ejemplo de Familias Tipográficas*/
  font-family: Verdana;
}

/*Tamaño de la fuente*/
h3 {
  font-size: 25px;
}

/*Ejemplo de Google Fonts*/
h1 {
  font-family: 'Roboto', sans-serif;
}

/*TAMAÑO DE FUENTE*/
/*Ejemplo de aplicar el mismo estilo a diferentes elementos*/
p,
ul,
ol {
  font-size: 20px;
}

/*Ejemplo de aplicar más de una propiedad a un elemento*/
/* li{
  color: blue;
  font-size: 15px;
} */
/*

img {
  <!--Propiedad width = ancho-->
  width: 200px;
}
*/

/*Ejemplo de aplicar propiedades a diferentes img. Creamos una clase llamada imagen-de-gatos* y le modificamos el ancho. ancho = width*/

.imagen-de-gatos {
  width: 200px;

  /*Añade bordes alrededor de un elemento, en este caso, una imagen*/
  border-width: 5px;
  border-color: rgb(74, 189, 228);

  /*Existen estilos como none, dotted, double, groove, ridge, inset, outset*/
  /*border-style: solid;*/

  /*Podemos combinar estilos de borde*/
  border-style: dotted ridge double groove;
}

/*Hacer esquinas redondeadas*/
/*
.bordes-redondeados {
  border-radius: 50px;
}
*/


/*Hacer imágenes estrellita*/
.bordes-triangulares {
  border-radius: 10%;
}

/*Color de fondo de un div*/

div {
  background-color: rgb(67, 224, 161);
}

/*Atributo id en CSS. Se usa un '#'.*/
#titulo-app-gatos {
  font-size: 30px;
  color: rgb(204, 127, 189);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Ejemplo de uso de id en imágenes*/
#imagen-de-lasagna {
  width: 300px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(98, 183, 201);
}

#lista-gatos-aman {
  font-size: 18px;
  color: rgb(5, 36, 44);
  font-family: Arial, Helvetica, sans-serif;
}


/*PADDING: DISTANCIA ENTRE EL BORDE Y EL CONTENIDO HTML, EN ESTE CASO, ES LA IMAGEN*/
#imagen-con-padding {
  width: 300px;
  /*padding: 20px;*/
  background-color: rgb(123, 215, 168);
  border-width: 2px;
  border-color: rgb(187, 90, 166);
  border-style: solid;

  /*PADDING A CADA LADO*/
  /*
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 40px;
  padding-left: 50px;
  */

  /*PADDING A UNA LÍNEA. Se acomodan en el sentido de las agujas del reloj*/
  padding: 30px 25px 40px 50px;

  /*MARGIN. Separar un elemento de otro elemento. Separamos una imagen de la otra*/
  /*margin: 20px;*/

  /*AJUSTA EL MARGIN EN UNA SOLA LÍNEA*/
  margin: 20px 15px 10px 5px;
}

/*SELECTORES DE ATRIBUTO*/
img[alt] {
  border-radius: 50%;
}

[type="radio"] {
  margin: 10px;
}

a[href="https://tecnolochicas.mx/"] {
  color: rgb(95, 220, 195);
  text-decoration: none;
  font-weight: bold;
}